.summary-cards {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.income {
  background: #e8f5e9;
}

.expense {
  background: #ffebee;
}

.balance {
  background: #e3f2fd;
}

.card h3 {
  margin: 0;
  font-size: 14px;
  color: gray;
}

.card p {
  font-size: 22px;
  font-weight: bold;
}