<h2>Dashboard Summary</h2>

<div class="summary">

  <div class="card income">
    <h3>Total Income</h3>
    <p>{{ totalIncome }}</p>
  </div>

  <div class="card expense">
    <h3>Total Expense</h3>
    <p>{{ totalExpense }}</p>
  </div>

  <div class="card balance">
    <h3>Balance</h3>
    <p>{{ balance }}</p>
  </div>

</div>

<hr />

<h3>Recent Transactions</h3>

@if (transactions.length === 0) {
  <p>No data available</p>
}

@for (t of transactions; track t.id) {
  <div class="transaction-card">

    <p><strong>{{ t.category }}</strong></p>
    <p>{{ t.amount }} - {{ t.type }}</p>

  </div>
}