<h2>Dashboard Summary</h2>

<div class="summary-cards">

  <div class="card income">
    <h3>Income</h3>
    <p>${{ totalIncome }}</p>
  </div>

  <div class="card expense">
    <h3>Expenses</h3>
    <p>${{ totalExpense }}</p>
  </div>

  <div class="card balance">
    <h3>Balance</h3>
    <p>${{ balance }}</p>
  </div>

</div>

<hr />

<h3>Recent Transactions</h3>

@if (transactions.length === 0) {
  <p>No transactions available</p>
} @else {
  @for (t of transactions.slice(0,5); track t.id) {
    <div class="transaction-card">
      <span>{{ t.category }}</span>
      <span>{{ t.amount }}</span>
    </div>
  }
}