.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 320px;
}

input, select, button {
  padding: 10px;
  font-size: 14px;
}

button {
  cursor: pointer;
  background: #1976d2;
  color: white;
  border: none;
}

.back-btn {
  background: #1976d2;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 12px;
}

.back-btn:hover {
  background: #125aa0;
}